<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<!-- BasicDataSource Source supports Connection Pooling -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
			//Doesn't support connection pooling -->

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/springtest" />
		<property name="username" value="root" />
		<property name="password" value="NepalKCC123" />

		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
	</bean>


	
</beans>